:root{
  --font-color:whitesmoke;
  --nav-color:#121212;
  --bg-searchContain:#262626;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  color: whitesmoke;
}
h1{
  color: whitesmoke !important;
}
.myNavStyle{
  background-color: var(--nav-color);
  color: var(--font-color);
  width: 100% !important;
}
.brand{
  font-family: 'Courier New', Courier, monospace;  
  text-transform: uppercase;
  cursor: pointer;
}
.search-button-container{
  top: 28px;
  right: 16px;
 background-color:var(--bg-searchContain);

}
.searchbtn{
  cursor: pointer;
  color: var(--font-color);
}
.searchtxt{
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-searchContain);
  border: none;
  color: var(--font-color);
  transition: .4s;
  width: 0;
 
}
.search-button-container:hover .searchtxt{
  width: 10rem;
}
.movie{
  width: 300px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

@media only screen and (max-width: 971px) {
  .movie{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
 
  }
  .movie img{
    width: 70% !important;
  }
}